@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a la Veterinaria.</h1>
    <p>Arriba puede navegar por los diferentes areas de la pagina.</p>
</div>
